{% extends "ShikshaSaarthi/base.html" %}
{% block content %}
    <h2>You have been logged out </h2>
    <div class="border-top pt-3">
        <small class="text-muted">Already have an account? <a  href="{% url 'login' %}">LogIn Again</a>
        </small>
        <p>Redirecting to home page in <span id="countdown">10</span> seconds.</p>

<script>
    // Function to update the countdown timer
    function updateCountdown() {
        const countdownElement = document.getElementById('countdown');
        let seconds = parseInt(countdownElement.textContent, 10);
        if (seconds > 0) {
            seconds--;
            countdownElement.textContent = seconds;
            setTimeout(updateCountdown, 1000); // Update every 1 second
        } else {
            // Redirect to the home page after the countdown
            window.location.href = '{% url 'login' %}'; // Replace with the actual URL of your home page
        }
    }

    // Start the countdown
    updateCountdown();
</script>
    </div>
    

{% endblock content %}

