{% extends 'ShikshaSaarthi/base.html' %}
{% load static %}
{% block content %}
<h1>Thank You for contacting Us. We will reach you Very Soon</h1>


<p>Redirecting to home page in <span id="countdown">10</span> seconds.</p>

<script>
    // Function to update the countdown timer
    function updateCountdown() {
        const countdownElement = document.getElementById('countdown');
        let seconds = parseInt(countdownElement.textContent, 10);
        if (seconds > 0) {
            seconds--;
            countdownElement.textContent = seconds;
            setTimeout(updateCountdown, 1000); // Update every 1 second
        } else {
            // Redirect to the home page after the countdown
            window.location.href = "{% url 'home' %}"; // Replace with the actual URL of your home page
        }
    }

    // Start the countdown
    updateCountdown();
</script>
{% endblock %}