<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <style>
      .hello{
        justify-content:center;
      }
    </style>
</head>
<body>

    <div class="hello">
      <iframe width="420" height="100" src="https://www.youtube.com/embed/{{ object.video_id }}?autoplay=1&mute=1"allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div>
      {{ object.video_id }}
    </div>
</body>
</html>
